<p-messages class="message" [(value)]="messages"></p-messages>
<div class="p-grid ">
    <div class="p-col-12 p-text-uppercase title p-text-center"><h1>Agenda</h1></div>
</div>
<div class="p-grid ">
    <p-panel header="Incluir Contato" class="p-col-12 p-md-6">
        <div class="p-grid p-mb-1">
            <div class="p-col-2 ">Nome</div>
            <div class="p-col-10">
                <input pInputText type="text" [(ngModel)]="ag.nome">
            </div>
            <div class="p-col-2">Telefone</div>
            <div class="p-col-10">
                <input pInputText type="text" [(ngModel)]="ag.telefone">
            </div>
            <div class="p-col-2">Email</div>
            <div class="p-col-10">
                <input pInputText type="text" [(ngModel)]="ag.email">
            </div>
            <div class="p-col-10 p-offset-2 p-mt-2">
                <button pButton class="p-mt-2" type="submit" [label]="operacao ?
            'Adicionar' : 'Atualizar'" (click)="inserirOuAtualizar()">
                </button>
            </div>
        </div>
    </p-panel>


    <p-panel header="Totais" class="p-col-12 p-md-6">
        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-text-center p-d-flex p-flex-column p-ai-center p-jc-center">
                Contatos:
                <br> <span class="destaque"> {{agenda.length}}</span>
            </div>

            <div class="p-col-12 p-md-6 p-md-6 p-text-center">
                <p-chart type="pie" [data]="data" width="100%" height="30vh"></p-chart>
            </div>

        </div>
    </p-panel>

</div>
<div class="p-grid">
    <p-table #dt [value]="agenda" [paginator]="true" [rows]="3" class="p-mt-2" [filterDelay]="0"
        [globalFilterFields]="['nome','telefone','email']" [responsive]="true">
        <ng-template pTemplate="caption">
            <div class="table-header p-text-right">

                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Pesquisar" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">#<p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="nome">Nome<p-sortIcon field="nome"></p-sortIcon>
                </th>
                <th pSortableColumn="telefone">Telefone<p-sortIcon field="telefone"></p-sortIcon>
                </th>
                <th pSortableColumn="email">E-mail<p-sortIcon field="email"></p-sortIcon>
                </th>
                <th class="deletar-atualizar"></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ag>
            <tr>
                <td>{{ag.id}}</td>
                <td>{{ag.nome}}</td>
                <td>{{ag.telefone}}</td>
                <td>{{ag.email?ag.email:'Nao há email cadastrado'}}</td>
                <td class="deletar-atualizar">
                    <p-button (click)="setFieldsToEdit(ag)" class="espaco" icon="pi pi-pencil"></p-button>
                    <p-button (click)="deleteFromAgenda(ag.id)" icon="pi pi-trash" class="p-button-danger"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>